@model WebsiteSellingBonsaiAPI.DTOS.User.ResetPassword

@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
    string thongBaoJson = Context.Session.GetString("ThongBao");

    if (!string.IsNullOrEmpty(thongBaoJson))
    {
        Context.Session.Remove("ThongBao"); 
    }
}

<link href="~/admin/css/adminlte.css" rel="stylesheet" />
<link href="~/admin/css/custom.css" rel="stylesheet" />
<link href="~/admin/plugins/font-awesome/css/all.css" rel="stylesheet" />
<div class="d-flex justify-content-center align-items-center bg-dark" style="Height: 100vh" id="body">
    <div class="login-box">
        <div class="card card-outline card-success">
            <div class="card-header">
                <a href="index.html" class="link-dark d-flex justify-content-center text-center link-offset-2 link-opacity-100 link-opacity-50-hover">
                    <img style="height:60px" class="img-fluid" src="~/Data/logo/logo.png" />
                </a>
            </div>
            <div class="card-body login-card-body rounded">
                <p class="login-box-msg text-danger">Nhập mật khẩu mới của bạn</p>
                @if (ViewData["Message"] != null)
                {
                    <p class="login-box-msg text-danger">@ViewData["Message"]</p>
                }
                <form asp-action="ResetPassword" method="post">
                    <input type="hidden" asp-for="userid" class="form-control"/>
                    <input type="hidden" asp-for="token" class="form-control"/>
                    <div class="input-group mb-3">
                        <div class="form-floating"> 
                            <input type="password" asp-for="newpassword" class="form-control" value="" placeholder="" id="loginPassword" />
                            <label for="loginPassword">Password</label>
                        </div>
                        <div class="input-group-text">
                            <i class="fa-light fa-lock"></i>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input type="password" asp-for="Comfirmpassword" class="form-control" value="" placeholder="" id="ComfrimPassword" />
                            <label for="ComfrimPassword">Comfrim Password</label>
                        </div>
                        <div class="input-group-text">
                            <i class="fa-light fa-lock"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-success">Thay đổi mật khẩu</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <a asp-action="login">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //===================== begin::OverlayScrollbars Configure =====================
    const SELECTOR_SIDEBAR_WRAPPER = ".sidebar-wrapper";
    const Default = {
        scrollbarTheme: "os-theme-dark",
        scrollbarAutoHide: "leave",
        scrollbarClickScroll: true,
    };
    document.addEventListener("DOMContentLoaded", function() {
        const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
        if (
            sidebarWrapper &&
            typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== "undefined"
        ) {
            OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
                scrollbars: {
                    theme: Default.scrollbarTheme,
                    autoHide: Default.scrollbarAutoHide,
                    clickScroll: Default.scrollbarClickScroll,
                },
            });
        }
    });
    //===================== end::OverlayScrollbars Configure =====================

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="~/admin/plugins/overlayscrollbars/browser/overlayscrollbars.browser.es6.min.js"></script>
<script src="~/admin/js/bootstrap.bundle.min.js"></script>
<script src="~/admin/js/adminlte.js"></script>
<script src="~/admin/plugins/jquery/jquery-3.7.1.min.js"></script>

