@model WebsiteSellingBonsaiAPI.DTOS.BannerDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Banner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BAN_ID" />
            <input type="hidden" asp-for="ImageOld" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" accept="image/*" id="Image">
                @if (!string.IsNullOrEmpty(Model.ImageOld))
                {
                    <img src="@Url.Content("~/" + Model.ImageOld)" alt="Product Image" style="max-height: 300px;" id="imgPreview" />
                }
                else
                {
                    <img src="/Data/noimage.png" alt="Product Image" style="max-width: 200px; max-height: 300px;" id="imgPreview" />
                }
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
            console.log("a")
        window.onload = () => {
                document.getElementById("Image").onchange = (e) => {
                var preview = document.getElementById('imgPreview');
                var file = e.target.files[0];
                var reader  = new FileReader();

                reader.onloadend = function () {
                  preview.src = reader.result;
                }

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = '/Data/noimage.png';
                }
            };
        }
    </script>
}
