@model WebsiteSellingBonsaiAPI.DTOS.BonsaiDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>Bonsai</h4>
<hr />
@if(Model != null){
<div class="container row border">
    <div class="col">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input asp-for="ImageOld" type="hidden"/>
            <div class="form-group">
                <label asp-for="BonsaiName" class="control-label"></label>
                <input asp-for="BonsaiName" class="form-control" />
                <span asp-validation-for="BonsaiName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" accept="image/*"/>
                @if (!string.IsNullOrEmpty(Model.ImageOld))
                {
                     <img src="@Url.Content("~/" + Model.ImageOld)" alt="Product Image" style="max-height: 300px;" id="imgPreview" />
                }
                else
                {
                     <img src="/Data/noimage.png" alt="Product Image" style="max-width: 200px; max-height: 300px;" id="imgPreview" />
                }
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FengShuiMeaning" class="control-label"></label>
                <textarea asp-for="FengShuiMeaning" class="form-control" ></textarea>
                <span asp-validation-for="FengShuiMeaning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOld" class="control-label"></label>
                <input asp-for="YearOld" class="form-control" />
                <span asp-validation-for="YearOld" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinLife" class="control-label"></label>
                <input asp-for="MinLife" class="form-control" />
                <span asp-validation-for="MinLife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxLife" class="control-label"></label>
                <input asp-for="MaxLife" class="form-control" />
                <span asp-validation-for="MaxLife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneralMeaningId" class="control-label"></label>
                <select asp-for="GeneralMeaningId" class="form-control" asp-items="ViewBag.GeneralMeaningId"></select>
                <span asp-validation-for="GeneralMeaningId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StyleId" class="control-label"></label>
                <select asp-for="StyleId" class="form-control" asp-items="ViewBag.StyleId"></select>
                <span asp-validation-for="StyleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control"></input>
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control"></input>
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control"></input>
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" ></input>
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary w-100 my-3" />
            </div>
        </form>
        <a asp-action="Index" class="btn btn-outline-success w-100 mb-3">Back to List</a>
    </div>
</div>
@section Header {
    @{
                        <link href="~/admin/plugins/ckeditor5/ckeditor5.css" rel="stylesheet" />
    }
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
                    <script type="importmap">
                        {
                            "imports": {
                                "ckeditor5": "/admin/plugins/ckeditor5/ckeditor5.js",
                                "ckeditor5/": "/admin/plugins/ckeditor5/"
                            }
                        }
                    </script>
                       <script type="module">
                import {
                    ClassicEditor,
                    Essentials,
                    Paragraph,
                    Bold,
                    Italic,
                    Font
                } from 'ckeditor5';

                // Lấy tất cả phần tử với ID 'Details' hoặc 'Description'
                const editors = document.querySelectorAll('#FengShuiMeaning, #Description');

                // Khởi tạo editor cho từng phần tử
                editors.forEach(editorElement => {
                    ClassicEditor
                        .create(editorElement, {
                            plugins: [Essentials, Paragraph, Bold, Italic, Font],
                            toolbar: [
                                'undo', 'redo', '|', 'bold', 'italic', '|',
                                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
                            ]
                        })
                        .then(editor => {
                            console.log(`Editor initialized for:`, editorElement.id);
                        })
                        .catch(error => {
                            console.error(`Error initializing editor for ${editorElement.id}:`, error);
                        });
                });
            </script>
                <script>
            window.onload = () => {
                document.getElementById("Image").onchange = (e) => {
                    var preview = document.getElementById('imgPreview');
                    var file = e.target.files[0];
                    var reader  = new FileReader();

                    reader.onloadend = function () {
                      preview.src = reader.result;
                    }

                    if (file) {
                        reader.readAsDataURL(file);
                    } else {
                                preview.src = '/Data/noimage.png';
                    }
                };
            }
        </script>
}     
}else
{
    <div>Bonsai với id @ViewData["id"] bạn tìm có thể đã bị xóa hoặc không tồn tại</div>
    <a asp-action="Index">Back to List</a>
}